.decoratedPage {
  position: relative;
  min-height: calc(100vh - 120px);
  max-width: 1536px;
  margin: 0 auto;

  &__stikerTopLeft {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @media(max-width: 1530px) {
      width: 16.7vw;
      height: auto;
    }
  }

  &__stikerTopLeftRotaded {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-11deg);
    @media(max-width: 1530px) {
      width: 16.7vw;
      height: auto;
    }
  }

  &__stikerBottomRight {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    @media(max-width: 1530px) {
      width: 34vw;
      height: auto;
    }
  }
  &__stikerTopRight {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    @media(max-width: 1000px) {
      width: 12.8vw;
      height: auto;
    }
  }
  &__stikerBottomLeft {
    display: block;
    position: absolute;
    bottom: 0;
    left: 300px;
    @media(max-width: 1530px) {
      width: 16.7vw;
      height: auto;
      left: 16vw;
    }
  }
}