.title {
  width: 100%;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 20px;

  @media (max-width: 600px) {
    font-size: 22px;
    margin-top: 47px;
  }
}
.imageBox {
  width: 500px;
  @media (max-width: 500px) {
    width: 300px;
  }
  img {
    display: block;
    object-fit: contain;
    width: 500px;
    @media (max-width: 500px) {
      width: 300px;
    }
  }

}
