.step {
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
    border-bottom: 1px dashed black;
    @media (max-width: 600px) {
      margin-top: 25px;
    }
  }
  &__title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
  &__desc {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
  &__content {
  }
}
