.qrBox {
  width: 100%;
  &__box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 150px;
  }
  &__desc {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}
