.question {
  &__title {
    width: 80%;
    font-size: 16px;
    text-align: start;
    
    @media(max-width: 600px) {
      font-size: 14px;
    }
    @media(max-width: 500px) {
      font-size: 13px;
    }
  }
  &__desc {
    font-size: 14px;
    text-align: start;
    @media(max-width: 600px) {
      font-size: 13px;
    }
    @media(max-width: 500px) {
      font-size: 12px;
    }
  }
}